@using Domain.Entities
@model IEnumerable<Book>

@{
    ViewBag.Title = "книги";
}
@foreach (Book book in Model)
 {
    <div>
        <h3>@book.Name </h3>
        <p>@book.Author</p>
        <h4>@book.Prise.ToString("# руб")</h4>
    </div>
    <hr/>

 }


